{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row gx-0">
    <div class="col">
        <!--If from_profile variable is true then this page is loading a previous order and the heading for the page will reflect this-->
        <h2 class="header_font sec_text_clr">{% if from_profile %}Historic {% endif %}Order Summary</h2>
        {% if from_profile %}You are viewing an historic order.{% endif %}
    </div>
</div>
<div class="row gx-0">
    <div class="col text-end mt-auto me-5">
        <h5 class="d-inline sec_text_clr">Order No.: </h5><span>{{ order.order_number }}</span><br>
        <h5 class="d-inline sec_text_clr">Order Date: </h5><span>{{ order.date }}</span>
    </div>
    <div class="col-5 col-md-2 col-xl-1 text-end me-3 me-md-5">
        <h4 class="sec_text_clr">Subtotals</h4>
        {% for items, values in order_basket_json.items %}
        {% if items != 'basket_items' %}
        <h5 class="d-inline sec_text_clr">
            {% if items == 'digital_subtotal' %}Digital{% elif items == 'dvd_subtotal' %}DVD{% elif items == 'br_subtotal' %}Bluray{% elif items == 'grand_total' %}Order
            Total{% else %}{{ items }}{% endif %}:
        </h5>
        <span>£{{ values }}</span><br>
        {% endif %}
        {% endfor %}
    </div>
</div>
<div class="row gx-0 justify-content-center">
    <!--Uses a variable which has been formatted to json to create list items from the order stored in the database-->
    {% for items, values in order_basket_json.items %}
    {% if items == 'basket_items' %}
    {% for film in films %}
    {% for value in values %}
    {% if film.id|add:"0" == value.film_id|add:"0" %}
    <!--Creates a card item for each item in the order basket-->
    <div class="col-11 col-md-5 col-lg-4 col-xl-3 col-xxxl-2 m-2">
        <div class="card card-block grad_bg_invert">
            <a href="{% url 'filmpage' film.id %}" class="no_underline">
                <div class="row gx-0">
                    <div class="col-5 gx-0">
                        {% if film.Poster_Link %}
                        <img src="{{ film.Poster_Link }}" class="card-img-top" alt="{{ film.Series_Title }} Poster">
                        {% elif film.Poster %}
                        <img src="{{ MEDIA_URL }}{{ film.Poster }}" class="height100 width100 me-md-5"
                            alt="{{ film.Series_Title }} Poster">
                        {% else %}
                        <img src="{{ MEDIA_URL }}noimage.png" class="height100 width100 me-md-5"
                            alt="{{ film.Series_Title }} Poster">
                        {% endif %}
                    </div>
                    <div class="col-7 gx-0 card-info">
                        <div class="card-body">
                            <h5>{{ film.Series_Title }}</h5>
                            <div class="card-text">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Format</th>
                                            <th>Qty.</th>
                                            <th>ST.</th>
                                        </tr>
                                    </thead>
                                    <tr>
                                        <td>
                                            <h6>Digital</h6>
                                        </td>
                                        <td>{{ value.format_quantity.digital }}</td>
                                        <td>£<span>{{ value.format_total_cost.digital_total }}</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h6>DVD</h6>
                                        </td>
                                        <td>{{ value.format_quantity.dvd }}</td>
                                        <td>£<span>{{ value.format_total_cost.dvd_total }}</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h6>Bluray</h6>
                                        </td>
                                        <td>{{ value.format_quantity.bluray }}</td>
                                        <td>£<span>{{ value.format_total_cost.br_total }}</span></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    {% endfor %}
    {% endif %}
    {% endfor %}
</div>
{% endblock %}