{% extends "base.html" %}
{% load static %}

{% block add_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}
<div class="row gx-0">
    <div class="col">
        <form action="{% url 'checkout' %}" method="POST" id="checkout_form">
            {% csrf_token %}
            <fieldset>
                <legend>Recipient Details</legend>
                {{ order_form.first_name|as_crispy_field }}
                {{ order_form.last_name|as_crispy_field }}
                {{ order_form.email|as_crispy_field }}
                {{ order_form.phone_number|as_crispy_field }}
            </fieldset>
            <fieldset>
                <legend>Delivery Address</legend>
                {{ order_form.delivery_add1|as_crispy_field }}
                {{ order_form.delivery_add2|as_crispy_field }}
                {{ order_form.delivery_town|as_crispy_field }}
                {{ order_form.delivery_county|as_crispy_field }}
                {{ order_form.delivery_postcode|as_crispy_field }}
                {{ order_form.delivery_country|as_crispy_field }}
                <label class="form-check-label" for="id-save_delivery">Save this delivery address?</label>
                <input class="form-check-input" type="checkbox" id="save_delivery" name="save_delivery" checked>
            </fieldset>
            <fieldset>
                <legend>Card Details</legend>
                <!--Stripe here-->
                <div id="stripe_card"></div>
                <div class="sec_text_clr" id="card_messages">
                    <!--Show card errors here-->
                </div>
                <input type="hidden" value="{{ client_secret }}" name="client_secret">
            </fieldset>
            <fieldset>
                <legend>Billing Address</legend>
                <label class="form-check-label" for="id-same_as_delivery">Same as delivery address?</label>
                <input class="form-check-input" type="checkbox" id="same_as_delivery" name="same_as_delivery">
                {{ order_form.billing_add1|as_crispy_field }}
                {{ order_form.billing_add2|as_crispy_field }}
                {{ order_form.billing_town|as_crispy_field }}
                {{ order_form.billing_county|as_crispy_field }}
                {{ order_form.billing_postcode|as_crispy_field }}
                {{ order_form.billing_country|as_crispy_field }}
                <label class="form-check-label" for="id-save_billing">Save this billing address?</label>
                <input class="form-check-input" type="checkbox" id="save_billing" name="save_billing" checked>
            </fieldset>
            <div class="submission">
                <a href="{% url 'view_basket' %}" class="btn btn-lg btn-secondary"><span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span> Adjust Basket
                </a>
                <button id="submit_checkout" type="submit" class="btn btn-lg btn-success"><span class="icon">
                        <i class="fas fa-credit-card"></i>
                    </span> Buy Now!
                </button>
                <p>£{{ grand_total }} will be charged to your card.</p>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block addPost_js %}
{{ block.super }}
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}
<script src="{% static 'checkout/js/stripe_elements.js' %}" type="text/javascript"></script>
{% endblock %}