{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2 class="header_font sec_text_clr">Shopping Basket</h2>
{% if basket_items %}
{{ delivery_test }}
<div class="row gx-0">
    <div class="col text-end mt-auto">
        {% include 'basket/checkout_btns.html' %}
    </div>
    <div class="col-5 col-md-2 col-lg-1 text-end me-3 me-md-5">
        <h4 class="sec_text_clr">Subtotals</h4>
        <h5 class="d-inline sec_text_clr">Digtial:</h5> <span>£{{ digital_subtotal }}</span><br>
        <h5 class="d-inline sec_text_clr">DVD:</h5> <span>£{{ dvd_subtotal }}</span><br>
        <h5 class="d-inline sec_text_clr">Bluray:</h5> <span>£{{ br_subtotal }}</span><br>
        <h5 class="d-inline sec_text_clr">Delivery:</h5> <span>£{{ delivery }}</span><br>
        <h3 class="d-inline sec_text_clr">Total:</h3> <span>£{{ grand_total }}</span><br>
    </div>
</div>
<div class="row gx-0 justify-content-center">
    {% for film in films %}
    {% for item in basket_items %}
    {% if film.id|add:"0" == item.film_id|add:"0" %}
    <div class="col-11 col-md-5 col-lg-4 col-xl-3 m-2">
        <a href="{% url 'filmpage' film.id %}" class="no_underline">
            <div class="card card-block grad_bg_invert">
                <div class="row gx-0">
                    <div class="col-5 gx-0">
                        <img src="{{ film.Poster_Link }}" class="card-img-top" alt="{{ film.Series_Title }} Poster">
                    </div>
                    <div class="col-7 gx-0 card-info">
                        <div class="card-body">
                            <h5>{{ film.Series_Title }}</h5>
                            <p class="card-text">
                                <table>
                                    <thead>
                                        <th>Format</th>
                                        <th>Unit</th>
                                        <th>Qty.</th>
                                        <th>ST.</th>
                                    </thead>
                                    <tr>
                                        <td>
                                            <h6>Digital</h6>
                                        </td>
                                        <td>{% for price in prices %}
                                            {% if price.cost_name == 'digital' %}
                                            {{ price.cost_price }}
                                            {% endif %}
                                            {% endfor %}</td>
                                        <td>{{ item.format_quantity.digital }}</td>
                                        <td>{{ item.format_total_cost.digital_total }}</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h6>DVD</h6>
                                        </td>
                                        <td>{% for price in prices %}
                                            {% if price.cost_name == 'dvd' %}
                                            {{ price.cost_price }}
                                            {% endif %}
                                            {% endfor %}</td>
                                        <td>{{ item.format_quantity.dvd }}</td>
                                        <td>{{ item.format_total_cost.dvd_total }}</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h6>Bluray</h6>
                                        </td>
                                        <td>{% for price in prices %}
                                            {% if price.cost_name == 'bluray' %}
                                            {{ price.cost_price }}
                                            {% endif %}
                                            {% endfor %}</td>
                                        <td>{{ item.format_quantity.bluray }}</td>
                                        <td>{{ item.format_total_cost.br_total }}</td>
                                    </tr>
                                </table>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    {% endif %}
    {% endfor %}
    {% endfor %}
</div>
{% else %}
<p>No Items in Basket</p>
{% endif %}
{% endblock %}