@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&family=Zilla+Slab+Highlight&display=swap');

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: red;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Zilla Slab Highlight', cursive;
    color: blue;
}
