<footer class="row gx-0 pri_bg_clr sec_text_clr justify-content-center">
    <div class="col text-center">
        <small>
            <strong>Copyright</strong> &copy; 2021 Nicholas Bowley. All Rights Reserved
        </small>
    </div>
    <div class="col text-center">
        <small>
            <a class="no_underline" href="https://www.logomakr.com" target="_blank"
                aria-label="link to logomakr">Created my
                free logo at LogoMakr.com</a>
        </small>
    </div>
</footer>