{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<h1 class="header_font sec_text_clr">{% trans "Sign Up" %}</h1>

<form class="signup mb-2" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="btn btn-success btn-lg mb-2" type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>

<p class="centerAndWidth">{% blocktrans %}Already have an account? Then please <a class="sec_text_clr" href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

{% endblock %}
