{% extends 'base.html' %}
{% load static %}

<!--An admin area only accessible to superusers-->
{% block content %}
<!--A loading spinner initializes on page load and is turned off via JS when the page is ready-->
<div id="loading">
    <h1 class="loading_spinner">
        <p>
            <i class="fas fa-spinner fa-pulse"></i> Loading ...
        </p>
    </h1>
</div>
<h2 class="header_font sec_text_clr">Admin Area</h2>
<p class="pri_text_clr">Edit prices, modify existing titles and add new titles to the site.</p>
<div class="row gx-0 justify-content-center">
    <!--Price editing section holds card with links to a form-->
    <div class="col centerAndWidth">
        <h3 class="header_font sec_text_clr">Edit Prices</h3>
    </div>
    <div class="row gx-0 justify-content-center">
        {% for price in prices %}
        <div class="col-10 col-md-5 col-lg-2 m-2">
            <a href="{% url 'edit_price' price.id %}" class="no_underline">
                <div class="card card-block grad_bg_invert">
                    <div class="row gx-0">
                        <div class="col gx-0 card-info vert_flow">
                            <div class="card-body">
                                <h5>{{ price.cost_name }}</h5>
                                <p class="card-text">
                                    £ {{ price.cost_price }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
<!--Film management section with a link to an add film form, links to each existing film to edit and to delete a film-->
<div class="row gx-0 justify-content-center mt-5">
    <div class="col centerAndWidth">
        <h3 class="header_font sec_text_clr">Manage Films</h3>
    </div>
    <div class="row gx-0 justify-content-center mt-1">
        <div class="col-10 col-md-6 col-lg-2">
            <a href="{% url 'add_film' %}" class="btn btn-lg btn-success"><span class="icon">
                    <i class="fas fa-film"></i>
                </span> Add a Film
            </a>
        </div>
        <div class="row gx-0 justify-content-center mt-3">
            <h4 class="header_font sec_text_clr">Edit Films</h4>
            <div class="row gx-0 justify-content-center mt-3">
                <div class="col-10 col-lg-6">
                    <!--Search bar for existing films to allow admin to quickly locate a specific title-->
                    <form method="GET" action="{% url 'admin_area' %}">
                        <div class="row gx-0">
                            <div class="col-9 gx-0">
                                <div class="input-group">
                                    <input class="form-control" type="text" name="q"
                                        placeholder="{% if search_term %} {{search_term }} {% else %}Search for a title. {% endif %}">
                                </div>
                            </div>
                            <div class="col-3 gx-0">
                                <div class="input-group-append">
                                    <button class="btn btn-success" type="submit">
                                        <span class="icon">
                                            <i class="fas fa-search"></i>
                                        </span>
                                    </button>
                                    {% if search_term != None %}
                                    <button class="btn btn-secondary" type="submit">
                                        <span class="icon">
                                            <i class="fas fa-undo-alt"></i>
                                        </span>
                                    </button>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!--Text updates depending on number of films displayed as result of search -->
            <p>{{ films|length }} Unique Film{% if films|length > 1 %}s{% endif %} Below:</p>
            {% for film in films %}
            <!--Creates a simple card with a header and a delete button. Also creates a modal for delete verification-->
            <div class="col-10 col-md-5 col-lg-3 col-xxxl-2 m-2">
                <div class="card card-block grad_bg_invert">
                    <div class="row gx-0">
                        <div class="col gx-0 card-info vert_flow">
                            <a href="{% url 'edit_film' film.id %}" class="no_underline">
                                <div class="card-body">
                                    <h5>{{ film.Series_Title }}</h5>
                                </div>
                            </a>
                        </div>
                        <div class="col-2 m-auto">
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                data-bs-target="#delete_modal{{ film.id }}">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!--Delete Modal to verify user delete intention-->
            <div class="modal" id="delete_modal{{ film.id }}" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content sec_bg_light_clr">
                        <div class="modal-header pri_bg_clr">
                            <h5 class="modal-title">Delete {{ film.Series_Title }}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to delete {{ film.Series_Title }} permanently for all users?</p>
                        </div>
                        <div class="modal-footer sec_bg_clr">
                            <button type="button" id="delete_focus{{ film.id }}" class="btn btn-secondary"
                                data-bs-dismiss="modal">Cancel</button>
                            <a href="{% url 'delete_film' film.id %}" class="btn btn-lg btn-danger"><span class="icon">
                                    <i class="fas fa-trash-alt"></i>
                                </span> Delete
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}