{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2 class="header_font sec_text_clr">Admin Area</h2>
<p class="pri_text_clr">Edit prices, modify existing titles and add new titles to the site.</p>
<div class="row gx-0 justify-content-center">
    <div class="col centerAndWidth">
        <h3 class="header_font sec_text_clr">Edit Prices</h3>
    </div>
    <div class="row gx-0 justify-content-center">
        {% for price in prices %}
        <div class="col-10 col-md-5 col-lg-2 m-2">
            <a href="{% url 'edit_price' price.id %}" class="no_underline">
                <div class="card card-block grad_bg_invert">
                    <div class="row gx-0">
                        <div class="col gx-0 card-info vert_flow">
                            <div class="card-body">
                                <h5>{{ price.cost_name }}</h5>
                                <p class="card-text">
                                    £ {{ price.cost_price }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
<div class="row gx-0 justify-content-center">
    <div class="col centerAndWidth">
        <h3 class="header_font sec_text_clr">Manage Films</h3>
    </div>
    <div class="row gx-0 justify-content-center">
        <div class="col-2">
            <a href="{% url 'add_film' %}" class="btn btn-lg btn-success"><span class="icon">
                    <i class="fas fa-film"></i>
                </span> Add a Film
            </a>
        </div>
    </div>
</div>
{% endblock %}