{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2 class="header_font sec_text_clr">{{ film.Series_Title }}</h2>
<div class="row gx-0 mt-5">
    <div class="col-5 col-md-6 text-end">
        {% if film.Poster_Link %}
        <img src="{{ film.Poster_Link }}" class="height100 width100 me-md-5" alt="{{ film.Series_Title }} Poster">
        {% else %}
        <img src="{{ MEDIA_URL }}noimage.png" class="height100 width100 me-md-5" alt="{{ film.Series_Title }} Poster">
        {% endif %}
    </div>
    <div class="col-7 col-md-6 text-start">
        <p class="ms-3 me-md-3">
            IMDB Rating: {{ film.IMDB_Rating }}
        </p>
        <p class="ms-3 me-md-3">
            {{ film.Genre }}
        </p>
        <p class="ms-3 me-md-3">
            Year:<span>{{ film.Released_Year }}</span>
        </p>
        <p class="ms-3 me-md-3">
            Runtime:<span>{{ film.Runtime }}</span>
        </p>
        <p class="ms-3 me-md-3">
            <span>{{ film.Star1 }}</span>, <span>{{ film.Star2 }}</span>, <span>{{ film.Star3 }}</span>,
            <span>{{ film.Star4 }}</span>
        </p>
        <p class="ms-3 me-md-3">
            Director: <span>{{ film.Director }}</span>
        </p>
    </div>
</div>
{% if digital_value == 0 %}
<div class="row gx-0">
    <div class="col mt-5">
        <a href="{% url 'watch' film.id %}" class="btn btn-lg btn-success play_button"><span class="icon">
                <i class="fas fa-play"></i>
            </span> Watch Now
        </a>
    </div>
</div>
{% endif %}
<div class="row gx-0 mt-5">
    <div class="col mx-3">
        <p>{{ film.Overview }}</p>
    </div>
</div>
<div class="row gx-0">
    {% include 'films/orderform.html' %}
</div>
{% endblock %}