{% extends "base.html" %}
{% load static %}

{% block content %}
<!--A loading spinner initializes on page load and is turned off via JS when the page is ready-->
<div id="loading">
    <h1 class="loading_spinner">
        <p>
            <i class="fas fa-spinner fa-pulse"></i> Loading ...
        </p>
    </h1>
</div>
<h2 class="header_font sec_text_clr">Available Films</h2>
<p class="pri_text_clr">Browse the films within the categories below and click the film card for more info!</p>
<div class="row gx-0 justify-content-center mt-3">
    <div class="col-10 col-lg-6">
        <!--Search bar for existing films to allow admin to quickly locate a specific title-->
        <form method="GET" action="{% url 'films' %}">
            <div class="row gx-0">
                <div class="col-9 gx-0">
                    <div class="input-group">
                        <input class="form-control" type="text" name="q"
                            placeholder="{% if search_term %} {{search_term }} {% else %}Search for a title. {% endif %}">
                    </div>
                </div>
                <div class="col-3 gx-0">
                    <div class="input-group-append">
                        <button class="btn btn-success" type="submit">
                            <span class="icon">
                                <i class="fas fa-search"></i>
                            </span>
                        </button>
                        {% if search_term != None %}
                        <button class="btn btn-secondary" type="submit">
                            <span class="icon">
                                <i class="fas fa-undo-alt"></i>
                            </span>
                        </button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!--Text updates depending on number of unique films displayed as result of search -->
<p>{{ films|length }} Unique Film{% if films|length > 1 %}s{% endif %} Available:</p>
<!--My Films-->
<div class="row gx-0">
    <div class="col">
        <h3 class="header_font sec_text_clr text-start">My Films</h3>
    </div>
    <!--Scroll buttons for use on desktop devices. These work via JS-->
    <div class="col d-none d-lg-block col-lg-9 text-end">
        <button type="button" class="btn btn-secondary home"><i class="fas fa-home"></i></button>
        <button type="button" class="btn btn-secondary left"><i class="fas fa-chevron-circle-left"></i></button>
        <button type="button" class="btn btn-secondary right me-4"><i class="fas fa-chevron-circle-right"></i></button>
    </div>
    <!--If the user doesn't have any titles in their purchased_titles a message appears instead-->
    <div class="row flex-row flex-nowrap horz_scroll gx-0">
        {% if profile.purchased_titles.all|length == 0 %}
        <div class="col m-2 centerAndWidth">
            <p>You don't currently own any films! Purchase films from the categories below to add titles to your
                collection!</p>
        </div>
        {% else %}
        <!--Checks purchased_titles against the film database and if they match creates a card object-->
        {% for film in films %}
        {% for title in profile.purchased_titles.all %}
        {% if title == film %}
        <div class="col-10 col-md-5 col-lg-4 col-xl-3 m-2">
            <a href="{% url 'filmpage' film.id %}" class="no_underline">
                <div class="card card-block grad_bg_invert">
                    <div class="row gx-0">
                        <div class="col-5 gx-0">
                            {% if film.Poster_Link %}
                            <img src="{{ film.Poster_Link }}" class="card-img-top" alt="{{ film.Series_Title }} Poster">
                            {% elif film.Poster %}
                            <img src="{{ MEDIA_URL }}{{ film.Poster }}" class="height100 width100 me-md-5"
                                alt="{{ film.Series_Title }} Poster">
                            {% else %}
                            <img src="{{ MEDIA_URL }}noimage.png" class="height100 width100 me-md-5"
                                alt="{{ film.Series_Title }} Poster">
                            {% endif %}
                        </div>
                        <div class="col-7 gx-0 card-info vert_flow">
                            <div class="card-body">
                                <h5>{{ film.Series_Title }}</h5>
                                <p class="card-text">
                                    IMDB Rating: {{ film.IMDB_Rating }}
                                </p>
                                <p class="card-text">
                                    {{ film.Genre }}
                                </p>
                                <p class="card-text">
                                    <span>{{ film.Star1 }}</span>, <span>{{ film.Star2 }}</span>
                                </p>
                                <p class="card-text d-none d-lg-block">
                                    Year:<span>{{ film.Released_Year }}</span> Runtime:<span>{{ film.Runtime }}</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endif %}
        {% endfor %}
        {% endfor %}
        {% endif %}
    </div>
    <!--A horizontal rule between categories-->
    <div class="row justify-content-center">
        <div class="col-10">
            <hr>
        </div>
    </div>
</div>
<!--Action-->
<div class="row gx-0">
    <div class="col">
        <h3 class="header_font sec_text_clr text-start">Action</h3>
    </div>
    <div class="col d-none d-lg-block col-lg-9 text-end">
        <button type="button" class="btn btn-secondary home"><i class="fas fa-home"></i></button>
        <button type="button" class="btn btn-secondary left"><i class="fas fa-chevron-circle-left"></i></button>
        <button type="button" class="btn btn-secondary right me-4"><i class="fas fa-chevron-circle-right"></i></button>
    </div>
    <div class="row flex-row flex-nowrap horz_scroll gx-0">
        {% for film in films %}
        {% if "Action" in film.Genre %}
        <div class="col-10 col-md-5 col-lg-4 col-xl-3 m-2">
            <a href="{% url 'filmpage' film.id %}" class="no_underline">
                <div class="card card-block grad_bg_invert">
                    <div class="row gx-0">
                        <div class="col-5 gx-0">
                            {% if film.Poster_Link %}
                            <img src="{{ film.Poster_Link }}" class="card-img-top" alt="{{ film.Series_Title }} Poster">
                            {% elif film.Poster %}
                            <img src="{{ MEDIA_URL }}{{ film.Poster }}" class="height100 width100 me-md-5"
                                alt="{{ film.Series_Title }} Poster">
                            {% else %}
                            <img src="{{ MEDIA_URL }}noimage.png" class="height100 width100 me-md-5"
                                alt="{{ film.Series_Title }} Poster">
                            {% endif %}
                        </div>
                        <div class="col-7 gx-0 card-info vert_flow">
                            <div class="card-body">
                                <h5>{{ film.Series_Title }}</h5>
                                <p class="card-text">
                                    IMDB Rating: {{ film.IMDB_Rating }}
                                </p>
                                <p class="card-text">
                                    {{ film.Genre }}
                                </p>
                                <p class="card-text">
                                    <span>{{ film.Star1 }}</span>, <span>{{ film.Star2 }}</span>
                                </p>
                                <p class="card-text d-none d-lg-block">
                                    Year:<span>{{ film.Released_Year }}</span> Runtime:<span>{{ film.Runtime }}</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <!--A horizontal rule between categories-->
    <div class="row justify-content-center">
        <div class="col-10">
            <hr>
        </div>
    </div>
</div>
<!--Adventure-->
<div class="row gx-0">
    <div class="col col-lg-3">
        <h3 class="header_font sec_text_clr text-start">Adventure</h3>
    </div>
    <div class="col d-none d-lg-block col-lg-9 text-end">
        <button type="button" class="btn btn-secondary home"><i class="fas fa-home"></i></button>
        <button type="button" class="btn btn-secondary left"><i class="fas fa-chevron-circle-left"></i></button>
        <button type="button" class="btn btn-secondary right me-4"><i class="fas fa-chevron-circle-right"></i></button>
    </div>
    <div class="row flex-row flex-nowrap horz_scroll gx-0">
        {% for film in films %}
        {% if "Adventure" in film.Genre %}
        <div class="col-10 col-md-5 col-lg-4 col-xl-3 m-2">
            <a href="{% url 'filmpage' film.id %}" class="no_underline">
                <div class="card card-block grad_bg_invert">
                    <div class="row gx-0">
                        <div class="col-5 gx-0">
                            {% if film.Poster_Link %}
                            <img src="{{ film.Poster_Link }}" class="card-img-top" alt="{{ film.Series_Title }} Poster">
                            {% elif film.Poster %}
                            <img src="{{ MEDIA_URL }}{{ film.Poster }}" class="height100 width100 me-md-5"
                                alt="{{ film.Series_Title }} Poster">
                            {% else %}
                            <img src="{{ MEDIA_URL }}noimage.png" class="height100 width100 me-md-5"
                                alt="{{ film.Series_Title }} Poster">
                            {% endif %}
                        </div>
                        <div class="col-7 gx-0 card-info vert_flow">
                            <div class="card-body">
                                <h5>{{ film.Series_Title }}</h5>
                                <p class="card-text">
                                    IMDB Rating: {{ film.IMDB_Rating }}
                                </p>
                                <p class="card-text">
                                    {{ film.Genre }}
                                </p>
                                <p class="card-text">
                                    <span>{{ film.Star1 }}</span>, <span>{{ film.Star2 }}</span>
                                </p>
                                <p class="card-text d-none d-lg-block">
                                    Year:<span>{{ film.Released_Year }}</span> Runtime:<span>{{ film.Runtime }}</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <!--A horizontal rule between categories-->
    <div class="row justify-content-center">
        <div class="col-10">
            <hr>
        </div>
    </div>
</div>
<!--Comedy-->
<div class="row gx-0">
    <div class="col">
        <h3 class="header_font sec_text_clr text-start">Comedy</h3>
    </div>
    <div class="col d-none d-lg-block col-lg-9 text-end">
        <button type="button" class="btn btn-secondary home"><i class="fas fa-home"></i></button>
        <button type="button" class="btn btn-secondary left"><i class="fas fa-chevron-circle-left"></i></button>
        <button type="button" class="btn btn-secondary right me-4"><i class="fas fa-chevron-circle-right"></i></button>
    </div>
    <div class="row flex-row flex-nowrap horz_scroll gx-0">
        {% for film in films %}
        {% if "Comedy" in film.Genre %}
        <div class="col-10 col-md-5 col-lg-4 col-xl-3 m-2">
            <a href="{% url 'filmpage' film.id %}" class="no_underline">
                <div class="card card-block grad_bg_invert">
                    <div class="row gx-0">
                        <div class="col-5 gx-0">
                            {% if film.Poster_Link %}
                            <img src="{{ film.Poster_Link }}" class="card-img-top" alt="{{ film.Series_Title }} Poster">
                            {% elif film.Poster %}
                            <img src="{{ MEDIA_URL }}{{ film.Poster }}" class="height100 width100 me-md-5"
                                alt="{{ film.Series_Title }} Poster">
                            {% else %}
                            <img src="{{ MEDIA_URL }}noimage.png" class="height100 width100 me-md-5"
                                alt="{{ film.Series_Title }} Poster">
                            {% endif %}
                        </div>
                        <div class="col-7 gx-0 card-info vert_flow">
                            <div class="card-body">
                                <h5>{{ film.Series_Title }}</h5>
                                <p class="card-text">
                                    IMDB Rating: {{ film.IMDB_Rating }}
                                </p>
                                <p class="card-text">
                                    {{ film.Genre }}
                                </p>
                                <p class="card-text">
                                    <span>{{ film.Star1 }}</span>, <span>{{ film.Star2 }}</span>
                                </p>
                                <p class="card-text d-none d-lg-block">
                                    Year:<span>{{ film.Released_Year }}</span> Runtime:<span>{{ film.Runtime }}</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <!--A horizontal rule between categories-->
    <div class="row justify-content-center">
        <div class="col-10">
            <hr>
        </div>
    </div>
</div>
<!--Crime-->
<div class="row gx-0">
    <div class="col">
        <h3 class="header_font sec_text_clr text-start">Crime</h3>
    </div>
    <div class="col d-none d-lg-block col-lg-9 text-end">
        <button type="button" class="btn btn-secondary home"><i class="fas fa-home"></i></button>
        <button type="button" class="btn btn-secondary left"><i class="fas fa-chevron-circle-left"></i></button>
        <button type="button" class="btn btn-secondary right me-4"><i class="fas fa-chevron-circle-right"></i></button>
    </div>
    <div class="row flex-row flex-nowrap horz_scroll gx-0">
        {% for film in films %}
        {% if "Crime" in film.Genre %}
        <div class="col-10 col-md-5 col-lg-4 col-xl-3 m-2">
            <a href="{% url 'filmpage' film.id %}" class="no_underline">
                <div class="card card-block grad_bg_invert">
                    <div class="row gx-0">
                        <div class="col-5 gx-0">
                            {% if film.Poster_Link %}
                            <img src="{{ film.Poster_Link }}" class="card-img-top" alt="{{ film.Series_Title }} Poster">
                            {% elif film.Poster %}
                            <img src="{{ MEDIA_URL }}{{ film.Poster }}" class="height100 width100 me-md-5"
                                alt="{{ film.Series_Title }} Poster">
                            {% else %}
                            <img src="{{ MEDIA_URL }}noimage.png" class="height100 width100 me-md-5"
                                alt="{{ film.Series_Title }} Poster">
                            {% endif %}
                        </div>
                        <div class="col-7 gx-0 card-info vert_flow">
                            <div class="card-body">
                                <h5>{{ film.Series_Title }}</h5>
                                <p class="card-text">
                                    IMDB Rating: {{ film.IMDB_Rating }}
                                </p>
                                <p class="card-text">
                                    {{ film.Genre }}
                                </p>
                                <p class="card-text">
                                    <span>{{ film.Star1 }}</span>, <span>{{ film.Star2 }}</span>
                                </p>
                                <p class="card-text d-none d-lg-block">
                                    Year:<span>{{ film.Released_Year }}</span> Runtime:<span>{{ film.Runtime }}</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <!--A horizontal rule between categories-->
    <div class="row justify-content-center">
        <div class="col-10">
            <hr>
        </div>
    </div>
</div>
<!--Drama-->
<div class="row gx-0">
    <div class="col">
        <h3 class="header_font sec_text_clr text-start">Drama</h3>
    </div>
    <div class="col d-none d-lg-block col-lg-9 text-end">
        <button type="button" class="btn btn-secondary home"><i class="fas fa-home"></i></button>
        <button type="button" class="btn btn-secondary left"><i class="fas fa-chevron-circle-left"></i></button>
        <button type="button" class="btn btn-secondary right me-4"><i class="fas fa-chevron-circle-right"></i></button>
    </div>
    <div class="row flex-row flex-nowrap horz_scroll gx-0">
        {% for film in films %}
        {% if "Drama" in film.Genre %}
        <div class="col-10 col-md-5 col-lg-4 col-xl-3 m-2">
            <a href="{% url 'filmpage' film.id %}" class="no_underline">
                <div class="card card-block grad_bg_invert">
                    <div class="row gx-0">
                        <div class="col-5 gx-0">
                            {% if film.Poster_Link %}
                            <img src="{{ film.Poster_Link }}" class="card-img-top" alt="{{ film.Series_Title }} Poster">
                            {% elif film.Poster %}
                            <img src="{{ MEDIA_URL }}{{ film.Poster }}" class="height100 width100 me-md-5"
                                alt="{{ film.Series_Title }} Poster">
                            {% else %}
                            <img src="{{ MEDIA_URL }}noimage.png" class="height100 width100 me-md-5"
                                alt="{{ film.Series_Title }} Poster">
                            {% endif %}
                        </div>
                        <div class="col-7 gx-0 card-info vert_flow">
                            <div class="card-body">
                                <h5>{{ film.Series_Title }}</h5>
                                <p class="card-text">
                                    IMDB Rating: {{ film.IMDB_Rating }}
                                </p>
                                <p class="card-text">
                                    {{ film.Genre }}
                                </p>
                                <p class="card-text">
                                    <span>{{ film.Star1 }}</span>, <span>{{ film.Star2 }}</span>
                                </p>
                                <p class="card-text d-none d-lg-block">
                                    Year:<span>{{ film.Released_Year }}</span> Runtime:<span>{{ film.Runtime }}</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <!--A horizontal rule between categories-->
    <div class="row justify-content-center">
        <div class="col-10">
            <hr>
        </div>
    </div>
</div>
<!--Family-->
<div class="row gx-0">
    <div class="col">
        <h3 class="header_font sec_text_clr text-start">Family</h3>
    </div>
    <div class="col d-none d-lg-block col-lg-9 text-end">
        <button type="button" class="btn btn-secondary home"><i class="fas fa-home"></i></button>
        <button type="button" class="btn btn-secondary left"><i class="fas fa-chevron-circle-left"></i></button>
        <button type="button" class="btn btn-secondary right me-4"><i class="fas fa-chevron-circle-right"></i></button>
    </div>
    <div class="row flex-row flex-nowrap horz_scroll gx-0">
        {% for film in films %}
        {% if "Family" in film.Genre %}
        <div class="col-10 col-md-5 col-lg-4 col-xl-3 m-2">
            <a href="{% url 'filmpage' film.id %}" class="no_underline">
                <div class="card card-block grad_bg_invert">
                    <div class="row gx-0">
                        <div class="col-5 gx-0">
                            {% if film.Poster_Link %}
                            <img src="{{ film.Poster_Link }}" class="card-img-top" alt="{{ film.Series_Title }} Poster">
                            {% elif film.Poster %}
                            <img src="{{ MEDIA_URL }}{{ film.Poster }}" class="height100 width100 me-md-5"
                                alt="{{ film.Series_Title }} Poster">
                            {% else %}
                            <img src="{{ MEDIA_URL }}noimage.png" class="height100 width100 me-md-5"
                                alt="{{ film.Series_Title }} Poster">
                            {% endif %}
                        </div>
                        <div class="col-7 gx-0 card-info vert_flow">
                            <div class="card-body">
                                <h5>{{ film.Series_Title }}</h5>
                                <p class="card-text">
                                    IMDB Rating: {{ film.IMDB_Rating }}
                                </p>
                                <p class="card-text">
                                    {{ film.Genre }}
                                </p>
                                <p class="card-text">
                                    <span>{{ film.Star1 }}</span>, <span>{{ film.Star2 }}</span>
                                </p>
                                <p class="card-text d-none d-lg-block">
                                    Year:<span>{{ film.Released_Year }}</span> Runtime:<span>{{ film.Runtime }}</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <!--A horizontal rule between categories-->
    <div class="row justify-content-center">
        <div class="col-10">
            <hr>
        </div>
    </div>
</div>
<!--Fantasy-->
<div class="row gx-0">
    <div class="col">
        <h3 class="header_font sec_text_clr text-start">Fantasy</h3>
    </div>
    <div class="col d-none d-lg-block col-lg-9 text-end">
        <button type="button" class="btn btn-secondary home"><i class="fas fa-home"></i></button>
        <button type="button" class="btn btn-secondary left"><i class="fas fa-chevron-circle-left"></i></button>
        <button type="button" class="btn btn-secondary right me-4"><i class="fas fa-chevron-circle-right"></i></button>
    </div>
    <div class="row flex-row flex-nowrap horz_scroll gx-0">
        {% for film in films %}
        {% if "Fantasy" in film.Genre %}
        <div class="col-10 col-md-5 col-lg-4 col-xl-3 m-2">
            <a href="{% url 'filmpage' film.id %}" class="no_underline">
                <div class="card card-block grad_bg_invert">
                    <div class="row gx-0">
                        <div class="col-5 gx-0">
                            {% if film.Poster_Link %}
                            <img src="{{ film.Poster_Link }}" class="card-img-top" alt="{{ film.Series_Title }} Poster">
                            {% elif film.Poster %}
                            <img src="{{ MEDIA_URL }}{{ film.Poster }}" class="height100 width100 me-md-5"
                                alt="{{ film.Series_Title }} Poster">
                            {% else %}
                            <img src="{{ MEDIA_URL }}noimage.png" class="height100 width100 me-md-5"
                                alt="{{ film.Series_Title }} Poster">
                            {% endif %}
                        </div>
                        <div class="col-7 gx-0 card-info vert_flow">
                            <div class="card-body">
                                <h5>{{ film.Series_Title }}</h5>
                                <p class="card-text">
                                    IMDB Rating: {{ film.IMDB_Rating }}
                                </p>
                                <p class="card-text">
                                    {{ film.Genre }}
                                </p>
                                <p class="card-text">
                                    <span>{{ film.Star1 }}</span>, <span>{{ film.Star2 }}</span>
                                </p>
                                <p class="card-text d-none d-lg-block">
                                    Year:<span>{{ film.Released_Year }}</span> Runtime:<span>{{ film.Runtime }}</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <!--A horizontal rule between categories-->
    <div class="row justify-content-center">
        <div class="col-10">
            <hr>
        </div>
    </div>
</div>
<!--Horror-->
<div class="row gx-0">
    <div class="col">
        <h3 class="header_font sec_text_clr text-start">Horror</h3>
    </div>
    <div class="col d-none d-lg-block col-lg-9 text-end">
        <button type="button" class="btn btn-secondary home"><i class="fas fa-home"></i></button>
        <button type="button" class="btn btn-secondary left"><i class="fas fa-chevron-circle-left"></i></button>
        <button type="button" class="btn btn-secondary right me-4"><i class="fas fa-chevron-circle-right"></i></button>
    </div>
    <div class="row flex-row flex-nowrap horz_scroll gx-0">
        {% for film in films %}
        {% if "Horror" in film.Genre %}
        <div class="col-10 col-md-5 col-lg-4 col-xl-3 m-2">
            <a href="{% url 'filmpage' film.id %}" class="no_underline">
                <div class="card card-block grad_bg_invert">
                    <div class="row gx-0">
                        <div class="col-5 gx-0">
                            {% if film.Poster_Link %}
                            <img src="{{ film.Poster_Link }}" class="card-img-top" alt="{{ film.Series_Title }} Poster">
                            {% elif film.Poster %}
                            <img src="{{ MEDIA_URL }}{{ film.Poster }}" class="height100 width100 me-md-5"
                                alt="{{ film.Series_Title }} Poster">
                            {% else %}
                            <img src="{{ MEDIA_URL }}noimage.png" class="height100 width100 me-md-5"
                                alt="{{ film.Series_Title }} Poster">
                            {% endif %}
                        </div>
                        <div class="col-7 gx-0 card-info vert_flow">
                            <div class="card-body">
                                <h5>{{ film.Series_Title }}</h5>
                                <p class="card-text">
                                    IMDB Rating: {{ film.IMDB_Rating }}
                                </p>
                                <p class="card-text">
                                    {{ film.Genre }}
                                </p>
                                <p class="card-text">
                                    <span>{{ film.Star1 }}</span>, <span>{{ film.Star2 }}</span>
                                </p>
                                <p class="card-text d-none d-lg-block">
                                    Year:<span>{{ film.Released_Year }}</span> Runtime:<span>{{ film.Runtime }}</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <!--A horizontal rule between categories-->
    <div class="row justify-content-center">
        <div class="col-10">
            <hr>
        </div>
    </div>
</div>
<!--Romance-->
<div class="row gx-0">
    <div class="col">
        <h3 class="header_font sec_text_clr text-start">Romance</h3>
    </div>
    <div class="col d-none d-lg-block col-lg-9 text-end">
        <button type="button" class="btn btn-secondary home"><i class="fas fa-home"></i></button>
        <button type="button" class="btn btn-secondary left"><i class="fas fa-chevron-circle-left"></i></button>
        <button type="button" class="btn btn-secondary right me-4"><i class="fas fa-chevron-circle-right"></i></button>
    </div>
    <div class="row flex-row flex-nowrap horz_scroll gx-0">
        {% for film in films %}
        {% if "Romance" in film.Genre %}
        <div class="col-10 col-md-5 col-lg-4 col-xl-3 m-2">
            <a href="{% url 'filmpage' film.id %}" class="no_underline">
                <div class="card card-block grad_bg_invert">
                    <div class="row gx-0">
                        <div class="col-5 gx-0">
                            {% if film.Poster_Link %}
                            <img src="{{ film.Poster_Link }}" class="card-img-top" alt="{{ film.Series_Title }} Poster">
                            {% elif film.Poster %}
                            <img src="{{ MEDIA_URL }}{{ film.Poster }}" class="height100 width100 me-md-5"
                                alt="{{ film.Series_Title }} Poster">
                            {% else %}
                            <img src="{{ MEDIA_URL }}noimage.png" class="height100 width100 me-md-5"
                                alt="{{ film.Series_Title }} Poster">
                            {% endif %}
                        </div>
                        <div class="col-7 gx-0 card-info vert_flow">
                            <div class="card-body">
                                <h5>{{ film.Series_Title }}</h5>
                                <p class="card-text">
                                    IMDB Rating: {{ film.IMDB_Rating }}
                                </p>
                                <p class="card-text">
                                    {{ film.Genre }}
                                </p>
                                <p class="card-text">
                                    <span>{{ film.Star1 }}</span>, <span>{{ film.Star2 }}</span>
                                </p>
                                <p class="card-text d-none d-lg-block">
                                    Year:<span>{{ film.Released_Year }}</span> Runtime:<span>{{ film.Runtime }}</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <!--A horizontal rule between categories-->
    <div class="row justify-content-center">
        <div class="col-10">
            <hr>
        </div>
    </div>
</div>
<!--Sci-Fi-->
<div class="row gx-0">
    <div class="col">
        <h3 class="header_font sec_text_clr text-start">Sci-Fi</h3>
    </div>
    <div class="col d-none d-lg-block col-lg-9 text-end">
        <button type="button" class="btn btn-secondary home"><i class="fas fa-home"></i></button>
        <button type="button" class="btn btn-secondary left"><i class="fas fa-chevron-circle-left"></i></button>
        <button type="button" class="btn btn-secondary right me-4"><i class="fas fa-chevron-circle-right"></i></button>
    </div>
    <div class="row flex-row flex-nowrap horz_scroll gx-0">
        {% for film in films %}
        {% if "Sci-Fi" in film.Genre %}
        <div class="col-10 col-md-5 col-lg-4 col-xl-3 m-2">
            <a href="{% url 'filmpage' film.id %}" class="no_underline">
                <div class="card card-block grad_bg_invert">
                    <div class="row gx-0">
                        <div class="col-5 gx-0">
                            {% if film.Poster_Link %}
                            <img src="{{ film.Poster_Link }}" class="card-img-top" alt="{{ film.Series_Title }} Poster">
                            {% elif film.Poster %}
                            <img src="{{ MEDIA_URL }}{{ film.Poster }}" class="height100 width100 me-md-5"
                                alt="{{ film.Series_Title }} Poster">
                            {% else %}
                            <img src="{{ MEDIA_URL }}noimage.png" class="height100 width100 me-md-5"
                                alt="{{ film.Series_Title }} Poster">
                            {% endif %}
                        </div>
                        <div class="col-7 gx-0 card-info vert_flow">
                            <div class="card-body">
                                <h5>{{ film.Series_Title }}</h5>
                                <p class="card-text">
                                    IMDB Rating: {{ film.IMDB_Rating }}
                                </p>
                                <p class="card-text">
                                    {{ film.Genre }}
                                </p>
                                <p class="card-text">
                                    <span>{{ film.Star1 }}</span>, <span>{{ film.Star2 }}</span>
                                </p>
                                <p class="card-text d-none d-lg-block">
                                    Year:<span>{{ film.Released_Year }}</span> Runtime:<span>{{ film.Runtime }}</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <!--A horizontal rule between categories-->
    <div class="row justify-content-center">
        <div class="col-10">
            <hr>
        </div>
    </div>
</div>
<!--Western-->
<div class="row gx-0">
    <div class="col">
        <h3 class="header_font sec_text_clr text-start">Western</h3>
    </div>
    <div class="col d-none d-lg-block col-lg-9 text-end">
        <button type="button" class="btn btn-secondary home"><i class="fas fa-home"></i></button>
        <button type="button" class="btn btn-secondary left"><i class="fas fa-chevron-circle-left"></i></button>
        <button type="button" class="btn btn-secondary right me-4"><i class="fas fa-chevron-circle-right"></i></button>
    </div>
    <div class="row flex-row flex-nowrap horz_scroll gx-0">
        {% for film in films %}
        {% if "Western" in film.Genre %}
        <div class="col-10 col-md-5 col-lg-4 col-xl-3 m-2">
            <a href="{% url 'filmpage' film.id %}" class="no_underline">
                <div class="card card-block grad_bg_invert">
                    <div class="row gx-0">
                        <div class="col-5 gx-0">
                            {% if film.Poster_Link %}
                            <img src="{{ film.Poster_Link }}" class="card-img-top" alt="{{ film.Series_Title }} Poster">
                            {% elif film.Poster %}
                            <img src="{{ MEDIA_URL }}{{ film.Poster }}" class="height100 width100 me-md-5"
                                alt="{{ film.Series_Title }} Poster">
                            {% else %}
                            <img src="{{ MEDIA_URL }}noimage.png" class="height100 width100 me-md-5"
                                alt="{{ film.Series_Title }} Poster">
                            {% endif %}
                        </div>
                        <div class="col-7 gx-0 card-info vert_flow">
                            <div class="card-body">
                                <h5>{{ film.Series_Title }}</h5>
                                <p class="card-text">
                                    IMDB Rating: {{ film.IMDB_Rating }}
                                </p>
                                <p class="card-text">
                                    {{ film.Genre }}
                                </p>
                                <p class="card-text">
                                    <span>{{ film.Star1 }}</span>, <span>{{ film.Star2 }}</span>
                                </p>
                                <p class="card-text d-none d-lg-block">
                                    Year:<span>{{ film.Released_Year }}</span> Runtime:<span>{{ film.Runtime }}</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <!--A horizontal rule between categories-->
    <div class="row justify-content-center">
        <div class="col-10">
            <hr>
        </div>
    </div>
</div>
{% endblock %}