<!-- Modified from CI Boutique Ado Script -->
<script type="text/javascript">
    //Functions to handle enabling/disabling buttons for each format type
    function handleMinMaxBR() {
        let currentValue = parseInt($('#br_quantity').val());
        if (currentValue == "") {
            $('#br_quantity').val(0);
        }
        let minusDisabled = currentValue < 1;
        let plusDisabled = currentValue > 9;
        $('#br_quantity').siblings('.input-group-prepend').children('.dec-qty').prop('disabled', minusDisabled);
        $('#br_quantity').siblings('.input-group-append').children('.inc-qty').prop('disabled', plusDisabled);
    }

    function handleMinMaxDVD() {
        let currentValue = parseInt($('#dvd_quantity').val());
        let minusDisabled = currentValue < 1;
        let plusDisabled = currentValue > 9;
        $('#dvd_quantity').siblings('.input-group-prepend').children('.dec-qty').prop('disabled', minusDisabled);
        $('#dvd_quantity').siblings('.input-group-append').children('.inc-qty').prop('disabled', plusDisabled);
    }
    // If user types a value then the enable diable is triggered, and limits cannot be exceeded
    $('#br_quantity').change(function () {
        handleMinMaxBR();
        let currentValue = parseInt($('#br_quantity').val());
        if (currentValue < 0) {
            $('#br_quantity').val(0);
        }
        if (currentValue > 10) {
            $('#br_quantity').val(10);
        }
        brSubtotalCalc();
    });

    $('#dvd_quantity').change(function () {
        handleMinMaxDVD();
        let currentValue = parseInt($('#dvd_quantity').val());
        if (currentValue < 0) {
            $('#dvd_quantity').val(0);
        }
        if (currentValue > 10) {
            $('#dvd_quantity').val(10);
        }
        dvdSubtotalCalc();
    });

    $('.dec-qty').click(function (e) {
        e.preventDefault();
        let closestInput = $(this).closest('.input-group').find('.qty_input')[0];
        let currentValue = parseInt($(closestInput).val());
        $(closestInput).val(currentValue - 1);
        handleMinMaxBR();
        handleMinMaxDVD();
        brSubtotalCalc();
        dvdSubtotalCalc();
    });
    $('.inc-qty').click(function (e) {
        e.preventDefault();
        let closestInput = $(this).closest('.input-group').find('.qty_input')[0];
        let currentValue = parseInt($(closestInput).val());
        $(closestInput).val(currentValue + 1);
        handleMinMaxBR();
        handleMinMaxDVD();
        brSubtotalCalc();
        dvdSubtotalCalc();
    });

    handleMinMaxBR();
    handleMinMaxDVD();
</script>